<section id='aboutus_container' class='well clearfix'>
  <section id='aboutus_text'>
    <header>
      <h3>Nosotros</h3>
    </header>
    <p>Dulce y Juan se conocieron en la universidad. Un día Juan vio muy estresada a Dulce. Se acercó y preguntó: ¿Qué te pasa?.  Dulce contesto que iba a reprobar cálculo.  Necesitaba un 10 en el examen final para pasar. Juan le dijo que no se preocupara.  Él le ayudaría a pasar.</p>

    <p>Estudiaron mucho y pasaron días en la biblioteca haciendo todos los ejercicios del libro y otros más que se le ocurrieron a Juan.  Valio la pena.  Dulce logró el 10 y pasó cálculo.</p>

    <p>Luego Juan se fue a Stanford, Dulce se quedo en la UDLA y no se vieron más.</p>

    <p>Un tiempo después se volvieron a encontrar.  Dulce vivía en Monterrey y Juan en la Ciudad de México.  Hablaban seguido. Juan contaba sus problemas de emprendedor y Dulce sus aventuras en Monterrey.  Un día Juan invitó a Dulce a trabajar con él. </p>

    <p>Dulce se dedicó a poner orden en la vida de Juan.</p>

    <p>Un día de Rockband y martinis… Tiesto de testigo y empezaron a salir.</p>

    <p>Ahora no se separan.  Dulce acompaña a Juan a todos lados y Juan no sabe qué haría sin Dulce.  Juan es el hombre más feliz del mundo.  Dulce, una mujer muy afortunada porque tiene junto a ella, el amor de su vida.</p> 

    <p>El 3 de Agosto tuvieron una pequeña boda civil y les encantaría que los acompañaras el 13 de Diciembre a la ceremonia por la iglesia.</p>

    <p>El espacio es pequeño y abierto, por lo que sólo puedes llevar un acompañante y debes ir bien abrigado.</p>

    <p>La vestimenta es formal: Mujeres de vestido largo, Hombres de traje obscuro. </p>

    <p>No olvides reservar tu asistencia, seleccionar el platillo que deseas cenar el dia de la boda y compartir nuestras fotos en esta pagina. </p>
  </section>
  <section id='aboutus_opacity'>
  </section>
</section>