<section id='reception_container' class='well clearfix'>
  <header>
    <h3>Recepción Reforma 27</h3>
  </header>
  <section class='gallery well clearfix'>
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><img src='/assets/reception_1.jpg' /></div>
        <div class="item"><img src='/assets/reception_2.jpg' /></div>
        <div class="item"><img src='/assets/reception_3.jpg' /></div>
        <div class="item"><img src='/assets/reception_4.jpg' /></div>
        <div class="item"><img src='/assets/reception_5.jpg' /></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </section>
  <section class='map-info well clearfix'>
    <section class='map'>
      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-99.15372,19.433774,-99.150753,19.436491&amp;layer=mapnik&amp;marker=19.43472,-99.15228"></iframe>
      <br />
      <p><a href="http://www.openstreetmap.org/?lat=19.4351325&amp;lon=-99.1522365&amp;zoom=17&amp;layers=M&amp;mlat=19.43472&amp;mlon=-99.15228">View Larger Map</a></p>
    </section>
    <section class='description'>
      <p>La recepción será en el <strong>PH de Reforma 27</strong> el <strong>13 de Diciembre 2013</strong> a las <strong>19:30</strong>.  Te pedimos puntualidad.  La dirección es: <strong>Paseo de la Reforma 27, Colonia Tabacalera, Delegación Cuauhtemoc, Ciudad de México, Distrito Federal 06600</strong>.</p>
      <p><strong>Vestimenta de etiqueta.</strong></p>
      <p><strong>Valet Parking Incluido.</strong></p>
    </section>
  </section>
</section>